body {
  margin: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
  margin: 0;
}



.drumMachingBoard {
  border: 2px solid black;
  display: inline-block;
  margin: 5px;
  justify-content: flex-start;
}

input {
  margin: 5px;
  border: 1px solid black;
  padding: 3px;
}

.playButton {
  display: inline-block;
  margin: 5px;
  border: 1px solid black;
  padding: 3px;
}

.gearBox {
  display: inline-block;
  border: 1px solid black;
  vertical-align: top;
  margin-top: 5px;
  justify-content: flex-end;
}

.rangeInput {
  vertical-align: middle;
  padding-left: 10px;
  transform: scaleX(-1);
}

.signOut {
  display: inline-block;
  border: 1px solid black;
  vertical-align: top;
  margin-top: 5px;
}

.container {
  display: flex;

}

.signInForm, .registerForm {
  border: 1px solid black;
  display: inline;
  padding: 20px 60px;
  font-size: 20px;
  text-align: center;
  margin: 200px auto;
  text-transform: uppercase;
  border-radius: 10px;

}

ul {
  padding: 0;
  list-style-type: none;
}

.userSongs {
  padding-left: 30px;
  border: 1px solid black;
  display: inline-block;
  justify-content: flex-end;
  position: absolute;
  right: 7px;
  z-index: 10;
  top: 120px;
  height: 470px;
  width: 270px;
  overflow: scroll;
}

.div {
  display: inline-block;
}
